In [88]:
import pandas as pd
import numpy as np

In [89]:
df = pd.read_csv("preprocessed_data.csv")
df

,Unnamed: 0,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,...,weekend,month,rush_hour,weather_main_id,weather_desc_id,holiday_id,lag_1,lag_24,roll_3,roll_24
0,24,NaN,291.97,0.0,0.0,1,Clear,sky is clear,2012-10-03 12:00:00,5097,...,0,10,0,0,27,7,5471.0,5545.0,5693.000000,3562.291667
1,25,NaN,293.23,0.0,0.0,1,Clear,sky is clear,2012-10-03 13:00:00,4887,...,0,10,0,0,27,7,5097.0,4516.0,5151.666667,3577.750000
2,26,NaN,294.31,0.0,0.0,1,Clear,sky is clear,2012-10-03 14:00:00,5337,...,0,10,0,0,27,7,4887.0,4767.0,5107.000000,3601.500000
3,27,NaN,295.17,0.0,0.0,1,Clear,sky is clear,2012-10-03 15:00:00,5692,...,0,10,0,0,27,7,5337.0,5026.0,5305.333333,3629.250000
4,28,NaN,295.13,0.0,0.0,1,Clear,sky is clear,2012-10-03 16:00:00,6137,...,0,10,1,0,27,7,5692.0,4918.0,5722.000000,3680.041667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48175,48199,NaN,283.45,0.0,0.0,75,Clouds,broken clouds,2018-09-30 19:00:00,3543,...,1,9,0,1,2,7,3947.0,2950.0,3874.000000,2829.333333
48176,48200,NaN,282.76,0.0,0.0,90,Clouds,overcast clouds,2018-09-30 20:00:00,2781,...,1,9,0,1,19,7,3543.0,2607.0,3423.666667,2836.583333
48177,48201,NaN,282.73,0.0,0.0,90,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159,...,1,9,0,10,21,7,2781.0,3856.0,2827.666667,2765.875000
48178,48202,NaN,282.09,0.0,0.0,90,Clouds,overcast clouds,2018-09-30 22:00:00,1450,...,1,9,0,1,19,7,2159.0,1826.0,2130.000000,2750.208333
48179,48203,NaN,282.12,0.0,0.0,90,Clouds,overcast clouds,2018-09-30 23:00:00,954,...,1,9,0,1,19,7,1450.0,920.0,1521.000000,2751.625000

In [90]:
df['holiday'] = df['holiday'].fillna("None")
df['holiday'] = df['holiday'].astype('category')

In [91]:
df

,Unnamed: 0,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,...,weekend,month,rush_hour,weather_main_id,weather_desc_id,holiday_id,lag_1,lag_24,roll_3,roll_24
0,24,None,291.97,0.0,0.0,1,Clear,sky is clear,2012-10-03 12:00:00,5097,...,0,10,0,0,27,7,5471.0,5545.0,5693.000000,3562.291667
1,25,None,293.23,0.0,0.0,1,Clear,sky is clear,2012-10-03 13:00:00,4887,...,0,10,0,0,27,7,5097.0,4516.0,5151.666667,3577.750000
2,26,None,294.31,0.0,0.0,1,Clear,sky is clear,2012-10-03 14:00:00,5337,...,0,10,0,0,27,7,4887.0,4767.0,5107.000000,3601.500000
3,27,None,295.17,0.0,0.0,1,Clear,sky is clear,2012-10-03 15:00:00,5692,...,0,10,0,0,27,7,5337.0,5026.0,5305.333333,3629.250000
4,28,None,295.13,0.0,0.0,1,Clear,sky is clear,2012-10-03 16:00:00,6137,...,0,10,1,0,27,7,5692.0,4918.0,5722.000000,3680.041667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48175,48199,None,283.45,0.0,0.0,75,Clouds,broken clouds,2018-09-30 19:00:00,3543,...,1,9,0,1,2,7,3947.0,2950.0,3874.000000,2829.333333
48176,48200,None,282.76,0.0,0.0,90,Clouds,overcast clouds,2018-09-30 20:00:00,2781,...,1,9,0,1,19,7,3543.0,2607.0,3423.666667,2836.583333
48177,48201,None,282.73,0.0,0.0,90,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159,...,1,9,0,10,21,7,2781.0,3856.0,2827.666667,2765.875000
48178,48202,None,282.09,0.0,0.0,90,Clouds,overcast clouds,2018-09-30 22:00:00,1450,...,1,9,0,1,19,7,2159.0,1826.0,2130.000000,2750.208333
48179,48203,None,282.12,0.0,0.0,90,Clouds,overcast clouds,2018-09-30 23:00:00,954,...,1,9,0,1,19,7,1450.0,920.0,1521.000000,2751.625000

In [92]:
df = df.drop("Unnamed: 0",axis=1)
df

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,hour,...,weekend,month,rush_hour,weather_main_id,weather_desc_id,holiday_id,lag_1,lag_24,roll_3,roll_24
0,None,291.97,0.0,0.0,1,Clear,sky is clear,2012-10-03 12:00:00,5097,12,...,0,10,0,0,27,7,5471.0,5545.0,5693.000000,3562.291667
1,None,293.23,0.0,0.0,1,Clear,sky is clear,2012-10-03 13:00:00,4887,13,...,0,10,0,0,27,7,5097.0,4516.0,5151.666667,3577.750000
2,None,294.31,0.0,0.0,1,Clear,sky is clear,2012-10-03 14:00:00,5337,14,...,0,10,0,0,27,7,4887.0,4767.0,5107.000000,3601.500000
3,None,295.17,0.0,0.0,1,Clear,sky is clear,2012-10-03 15:00:00,5692,15,...,0,10,0,0,27,7,5337.0,5026.0,5305.333333,3629.250000
4,None,295.13,0.0,0.0,1,Clear,sky is clear,2012-10-03 16:00:00,6137,16,...,0,10,1,0,27,7,5692.0,4918.0,5722.000000,3680.041667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48175,None,283.45,0.0,0.0,75,Clouds,broken clouds,2018-09-30 19:00:00,3543,19,...,1,9,0,1,2,7,3947.0,2950.0,3874.000000,2829.333333
48176,None,282.76,0.0,0.0,90,Clouds,overcast clouds,2018-09-30 20:00:00,2781,20,...,1,9,0,1,19,7,3543.0,2607.0,3423.666667,2836.583333
48177,None,282.73,0.0,0.0,90,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159,21,...,1,9,0,10,21,7,2781.0,3856.0,2827.666667,2765.875000
48178,None,282.09,0.0,0.0,90,Clouds,overcast clouds,2018-09-30 22:00:00,1450,22,...,1,9,0,1,19,7,2159.0,1826.0,2130.000000,2750.208333
48179,None,282.12,0.0,0.0,90,Clouds,overcast clouds,2018-09-30 23:00:00,954,23,...,1,9,0,1,19,7,1450.0,920.0,1521.000000,2751.625000

In [93]:
import torch
from sklearn.preprocessing import StandardScaler

from pytorch_forecasting import TimeSeriesDataSet, TemporalFusionTransformer
from pytorch_forecasting.data import GroupNormalizer
from pytorch_forecasting.metrics import RMSE
from pytorch_lightning import Trainer
from pytorch_lightning.callbacks import EarlyStopping, ModelCheckpoint

In [94]:
df.columns

Index(['holiday', 'temp', 'rain_1h', 'snow_1h', 'clouds_all', 'weather_main',
       'weather_description', 'date_time', 'traffic_volume', 'hour', 'weekday',
       'weekend', 'month', 'rush_hour', 'weather_main_id', 'weather_desc_id',
       'holiday_id', 'lag_1', 'lag_24', 'roll_3', 'roll_24'],
      dtype='object')

In [95]:
df = df.copy()
assert 'date_time' in df.columns
df['data_time'] = pd.to_datetime(df['date_time'])
df = df.sort_values('date_time').reset_index(drop=True)

In [96]:
df["time_idx"] = np.arange(len(df))
df["series"] = 0

### time_idx column is necessary for TFT to be trained which must be continuous. series here is set to 0 because we are interpreting the traffic details of only one city. If more cities are included then series value will be a unique number attached to each city

In [97]:
categorical_cols = ["weather_main_id", "weather_desc_id", "holiday_id"]

for col in categorical_cols:
    df[col] = df[col].astype()astype("category")

In [98]:
continuous_cols = ['temp', 'rain_1h', 'snow_1h', 'clouds_all', 'lag_1', 'lag_24', 'roll_3', 'roll_24']

In [99]:
time_varying_known_reals = ['time_idx', 'hour', 'weekday', 'month', 'rush_hour']  # integers, known ahead
time_varying_unknown_reals = ['traffic_volume']
time_varying_known_categoricals = [c for c in ['weather_main_id', 'weather_desc_id', 'holiday_id'] if c in df.columns]

In [100]:
train_df = df[df['date_time'] < "2017-01-01"].copy()
val_df   = df[(df['date_time'] >= "2017-01-01") & (df['date_time'] < "2018-01-01")].copy()
test_df  = df[df['date_time'] >= "2018-01-01"].copy()

In [101]:
print("rows:", len(train_df), len(val_df), len(test_df))

rows: 29626 10605 7949

In [102]:
if continuous_cols:
    scaler = StandardScaler()
    df.loc[train_df.index, continuous_cols] = scaler.fit_transform(train_df[continuous_cols])
    df.loc[val_df.index, continuous_cols] = scaler.transform(val_df[continuous_cols])
    df.loc[test_df.index, continuous_cols] = scaler.transform(test_df[continuous_cols])

/tmp/ipykernel_7745/646284666.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[-1.27224475 -1.27224475 -1.27224475 ...  1.0303429   0.64226633
  1.0303429 ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[train_df.index, continuous_cols] = scaler.fit_transform(train_df[continuous_cols])

In [103]:
max_encoder_length = 168 # One week lookback (24*7=168)
max_prediction_length = 24 # Predict the next 24 hours by evaluating the last one week data

In [104]:
training_cutoff = train_df['time_idx'].max()

In [105]:
print(df[['weather_main_id','weather_desc_id','holiday_id']].dtypes)
print(train_df[['weather_main_id','weather_desc_id','holiday_id']].dtypes)

weather_main_id    category
weather_desc_id    category
holiday_id         category
dtype: object
weather_main_id    category
weather_desc_id    category
holiday_id         category
dtype: object

In [106]:
training = TimeSeriesDataSet(
    train_df,
    time_idx='time_idx',
    target='traffic_volume',
    group_ids=['series'],
    min_encoder_length=24,    # allow shorter contexts for early windows
    max_encoder_length=max_encoder_length,
    min_prediction_length=1,
    max_prediction_length=max_prediction_length,
    time_varying_known_reals=time_varying_known_reals,
    time_varying_unknown_reals=time_varying_unknown_reals,
    time_varying_known_categoricals=time_varying_known_categoricals,
    static_categoricals=[],   # no static features
    static_reals=[],
    target_normalizer=GroupNormalizer(groups=['series']), # normalizes target per series
    add_relative_time_idx=True,
    add_target_scales=True,
    add_encoder_length=True,
)

ValueError: Data type of category weather_main_id was found to be numeric - use a string type / categorified string

In [107]:
print("continuous_cols =", continuous_cols)
print("known_reals =", time_varying_known_reals)
print("unknown_reals =", time_varying_unknown_reals)
print("known_categoricals =", time_varying_known_categoricals)

continuous_cols = ['temp', 'rain_1h', 'snow_1h', 'clouds_all', 'lag_1', 'lag_24', 'roll_3', 'roll_24']
known_reals = ['time_idx', 'hour', 'weekday', 'month', 'rush_hour']
unknown_reals = ['traffic_volume']
known_categoricals = ['weather_main_id', 'weather_desc_id', 'holiday_id']

In [108]:
print("df dtypes:")
print(df[['weather_main_id','weather_desc_id','holiday_id']].dtypes)

print("\ntrain_df dtypes:")
print(train_df[['weather_main_id','weather_desc_id','holiday_id']].dtypes)

print("\nval_df dtypes:")
print(val_df[['weather_main_id','weather_desc_id','holiday_id']].dtypes)

df dtypes:
weather_main_id    category
weather_desc_id    category
holiday_id         category
dtype: object

train_df dtypes:
weather_main_id    category
weather_desc_id    category
holiday_id         category
dtype: object

val_df dtypes:
weather_main_id    category
weather_desc_id    category
holiday_id         category
dtype: object